$paddingL: 17px;
$paddingM: 13px;
$paddingS: 9px;

$marginL: 17px;
$marginM: 13px;
$marginS: 9px;

$buttonPaddingS: 3px;
$buttonPaddingM: 5px;
$buttonPaddingL: 7px;

$borderRadiusS: 3px;
$borderRadiusM: 4px;
$borderRadiusL: 5px;

$maxWidthL: 1000px;
$maxWidthM: 800px;
$maxWidthS: 600px;

$color1: #FFC746;
$color2: #4E4637;
$color3: #B5AA99; 
$color4: #00D1A3;
$color5: #009970;
$color6: #DBE0D5;

$colorHealthBar:     #FF5E5E;
$colorEnergyBar:     #5E81FF;
$colorExperienceBar: #FFAB5E;
